{% extends 'base.html' %}
{% block content %}
    <div class="container">
      <div class="card-body text-center">
        <p><img class="img-fluid" src="{{item.image_url}}" alt="img not found"></p>
        <h1>{{item.name}}</h1>
        <p class="price">{{item.cost}}</p>
        <p>{{item.description}}</p>
          <div class="row btn-group">
            <div class="col-sm-6">
                <a style="item-align:center" class="btn btn-primary" href="{% url 'edit' id=item.id %}">Edit</a>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-danger" href="{% url 'delete' id=item.id %}">Delete</a>
            </div>
          </div>
      </div>
    </div>
{% endblock %}